<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Tịm bán son</title>
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p-0 collapse collapse-horizontal show" style="background-color: #BEADFA;"
                data-bs-theme="dark" id="openmenu">
                <a href="#" class="text-center d-block p-3"><img src="image/logo.png" alt="" width="30px"></a>
                <div class="list-group m-3" style="min-height: 100vh">
                    <a href="#" class="list-group-item list-group-item-action " aria-current="true"
                        style="background-color: #BEADFA;" data-bs-theme="dark">
                        Tổng quan
                    </a>
                    <a href="admin-account.html" class="list-group-item list-group-item-action">Tài khoản</a>
                    <a href="#" class="list-group-item list-group-item-action">Thương hiệu</a>
                    <a href="#" class="list-group-item list-group-item-action">Loại son</a>
                    <a href="#" class="list-group-item list-group-item-action ">Thanh toán</a>
                </div>
            </div>

            <div class="col-md p-0">
                <nav class="navbar navbar-expand-lg " style="background-color: #BEADFA;">
                    <div class="container-fluid">
                        <button class="btn btn-outline-light me-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#openmenu" aria-expanded="false" aria-controls="openmenu">
                            =
                        </button>
                        <a class="navbar-brand" href="#">Tịm bán son</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Xin chào, phuthanhle
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Xem trang chủ</a></li>
                                        <li><a class="dropdown-item" href="#">Xem giỏ hàng</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="container">
                    <h2 class="my-3 ">Tổng quan</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card text-bg-primary mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Son Merzy</h5>
                                    <p class="card-text fs-1">500 thỏi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-bg-secondary mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Lượt xem</h5>
                                    <p class="card-text fs-1">1500 người</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-bg-success mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Bán đi</h5>
                                    <p class="card-text fs-1">300 thỏi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-bg-info mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Loại son</h5>
                                    <p class="card-text fs-1">100 thỏi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                

                

            </div>
        </div>

    </div>

    <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>